*.pyc
.project
.pydevproject
.settings
__pycache__/
*.py[cod]
*$py.class
*.conf
*.state
*.pid
*.db3
*.db3-journal
pidfile
statefile
*.build
main.exe
rmpd
logs/*
tmp/*
.idea/
watchdogfile
wallpaper
rmpd-client-*.tar.gz
