[remote_control]
server_url = https://server.slon-ds.ru
login = rmpd-vanilla-image
password = b3a2953f838edb9cf82396aaa12e80db

[logging]
logfile = /var/log/rmpd.log
verbose = yes

[player]
mplayer_executable = mplayer
omxplayer_executable = omxplayer
omxplayer_arguments = -o both --blank --no-osd
storage_path = /var/lib/rmpd/

[webui]
password = admin

[clockd]
enable = yes