#!/bin/sh
#
### BEGIN INIT INFO
# Provides: rmpd
# Required-Start: $network dbus
# Should-Start:
# Required-Stop:  $network
# Should-Stop:
# Default-Start: 2 3 4 5
# Default-Stop:   0 1 6
# Description: Remote Media Player Daemon
### END INIT INFO

su - rmpd -c "/home/rmpd/rmpd_client/rmpd.bin.sh $1"